<!doctype html>
<html lang="en" ng-app="coffeemvc" data-framework="firebase">
  <head>
    <meta charset="utf-8">
    <title>Coffeine • Community</title>
    
    <link rel="stylesheet" href="node_modules/coffeemvc-app-css/index.css">
    <style>[ng-cloak] { display: none; }</style>
  </head>
  <body>



  <!-- routes -->
  <div ng-view></div>

<!-- from controller -->
<!-- <div ng-controller="MyController"></div> -->




    <section id="todoapp" ng-controller="CoffeeCtrl">
      <header id="header">
        <h1>Coffeine</h1>
        <br>
        <form id="todo-form" ng-submit="addTodo()">
          <input id="new-todo" placeholder="Become a feine. We need to know." ng-model="newTodo" autofocus>
        </form>
      </header>
      <section id="main" ng-show="totalCount" ng-cloak>
        <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list">
          <li ng-repeat="(id, todo) in todos | todoFilter" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
            <div class="view">
              <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="todos.$save(todo)">
              <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
              <button class="destroy" ng-click="removeTodo(todo)"></button>
            </div>
            <form ng-submit="doneEditing(todo)">
              <input class="edit" ng-model="todo.title" todo-escape="revertEditing(todo)" todo-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
            </form>
          </li>
        </ul>
      </section>
      <footer id="footer" ng-show="totalCount" ng-cloak>
        <span id="todo-count"><strong>{{remainingCount}}</strong>
          <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
        </span>
        <ul id="filters">
          <li>
            <a ng-class="{selected: location.path() == '/'} " href="#/">Feines</a>
          </li>
          <li>
            <a ng-class="{selected: location.path() == '/completed'}" href="#/completed">You Win</a>
          </li>
        </ul>
        <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear Comments</button>
      </footer>
    </section>
    <footer id="info">
      <p>Social brand Loyalty app for our community for Local hawaiian coffee Shops</p>
      


      <div class="padding">
        <body ng-app="myApp">

        <!-- <a ng-class="{selected: location.path() == '/ourshop'}" href="templates/introPage.html">US</a> -->
        <a ng-class="{selected: location.path() == '/feines'}" href="templates/feinesGallery.html">Our Feines</a>
 <!--          <a href="/#/ourshop" class="btn btn-info" role="button">Us</a>
          <a href="/#/feines" class="btn btn-info" role="button">Our Feines</a> -->



      </div>
  
  <!-- routes -->
  <div ng-view></div>
    </footer>
    <script src="//cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angularfire/dist/angularfire.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.js></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/coffeeCtrl.js"></script>
    <script src="js/directives/coffeeFocus.js"></script>
    <script src="js/directives/coffeeBlur.js"></script>
    <script src="js/directives/coffeeEscape.js"></script>
  </body>
</html>