<html>
<header><title>Feines</title></header>
<body>
A picture gallery of our "feines" (most loyal customers) would go here.
<br>
<br>
We will be using pimotion library within the AT&T M2X platform.
<br>
<br>
Attached to the rasberry pi, our feines will time lapse their day, in an fun way.
<br>
<br>
motion time lapse from pimotion will capture both pictures and memes to reflect how our coffee affects their life.

<br>
<br>

<a>Frankie Sinatra</a>
<img src="/public/crazy1.jpeg" alt="Mountain View" style="width:220px;height:228px;">

<img src="/public/crazy2.jpg" alt="Mountain View" style="width:220px;height:228px;">

<img src="/public/crazy3.jpeg" alt="Mountain View" style="width:220px;height:228px;">

<img src="/public/crazy4.jpeg" alt="Mountain View" style="width:220px;height:228px;">


<br>
<a>Gbev</a>
<img src="/public/crazy5.jpeg" alt="Mountain View" style="width:220px;height:228px;">

<img src="/public/crazy6.jpeg" alt="Mountain View" style="width:220px;height:228px;">

<img src="/public/crazy7.jpeg" alt="Mountain View" style="width:220px;height:228px;">

<img src="/public/crazy8.jpeg" alt="Mountain View" style="width:220px;height:228px;">


</body>
</html>